<h1> Reach Out</h1>

<p>

	<div class="stats"><%= Tenant.count %></div> subscribed tenants in 
	<div class="stats"><%=Apartment.count %></div> apartments in 
	<div class="stats"><%=Building.count %></div> buildings with 
	<div class="stats"><%= Landlord.count %></div> landlords.

</p>
