<h1>Tenants#show</h1>

<% if tenant_signed_in? %>
	<% if @tenant == current_tenant %>
		<p> this tenant is signed in and is the current user </p>
		<p class="list-info"> 
			<%= @tenant.apartment.apartment_name if @tenant.apartment %>
		</p>

	<% else %>
		<p> You do not have access to view this tenant's history <p>
	<% end %>

<% end %>
	

