<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <h2>Notification from Reachout</h2>

      <p>
      Type: <%= @notice.notice_type %> <br>
      Subject: <%= @notice.title %> <br>
      <%= @notice.body %> <br>

      </p>

    <p></p>
  </body>
</html>