<h1> Building Information </h1>

<h2> <%= @building.building_name %> </h2>
<p class="apartment-name">
<%= link_to 'Edit Building Information', new_details_path(@building) %>
</p>

<div class="apartment-about">

<p>
Welcome to <%= @building.address %>!

This is where I will post all relevant information that you'll need to know about this building and location, such as garbage/recycling days, rent/payment policies, etc.
</p>

<p>
<% Detail.all.each do |detail| %>
	<% if detail.building_id == @building.id %>
		<%= detail.body %>
	<% end %> </br> <hr> </br> </br>
<% end %>
</p>


</div>

