<h1> Building Information </h1>

<h2> <%= @building.building_name %> </h2>


<div class="apartment-about">

<p>
Welcome to <%= @building.address %>!

This is where I will post all relevant information that you'll need to know about this building and location, such as garbage/recycling days, rent/payment policies, etc.





</p>


</div>

