<h1>Listing all registered Buildings </h1>

<% @building.each do |building| %>
	<% if building.landlord_id == current_landlord.id %>
		<p> <%= link_to building.building_name, building_path(building) if building %> </p>
	<hr>
	<% end %>	
<% end %>
